body{
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(187,99,0,1) 49%, rgba(190,46,4,1) 86%);
    margin: 0;
}
html{
    height: 100%;
}

header{
    overflow: hidden;
}

.banner{
    width: 85vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.enlaces{
    margin-left: 2vw;
}

button{
    margin-left: 2vw;
    margin-right: 1vw;
    background: rgb(15, 166, 212);
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    padding: 0.5em 1em;
    color: white;
}

button:hover{
    transform: scale(1.1);
}

.aplogo{
    position: absolute;
    left: 0;
    margin-left: 8vw;
}
.fotocontainer{
    height: 30vh;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

.fotobanner{
    display: block;
    max-width: 100%;
    object-fit: contain;
    
}

.iconos{
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 600px) {
    .iconos{
        width: 20px;
        height: 20px;
    }

    button{
       transform: scale(0.8);
    }
    
    .banner{
        height: 30px;
    }
}